
/* Grundinställningar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;

    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #333;
}

.dark-mode {
    background: linear-gradient(135deg, #080808, #764ba2);
    color: #667eea;
}

/* Rubrik */
body::before {
    content: "Min To-Do Lista";
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

/* Input */
#inputText {
    width: 320px;
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-bottom: 15px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#inputText:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

/* Knappar */
button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;

    transition: 0.2s ease;
}

.btn-container {
display: flex;
}

button:hover {
    transform: translateY(-2px);
}

/* Lägg till */
#add {
    background-color: #2ecc71;
    color: white;
}

#add:hover {
    background-color: #27ae60;
}

/* Ta bort */
#delete {
    background-color: #e74c3c;
    color: white;
}

#delete:hover {
    background-color: #c0392b;
}

#filtreraAllt {
    background-color: rgb(175, 211, 47) ;
    color: white;
}

#filtreraAllt:hover {
    background-color: rgb(153, 184, 42) ;
}

#filtreramarkerade{
    background-color: goldenrod;
    color: white;    
}

#filtreramarkerade:hover{
    background-color: rgb(168, 128, 25);  
}

#filtreraomarkerade{
    background-color: rgb(248, 101, 248);
    color: white;
}

#filtreraomarkerade:hover{
    background-color: rgb(145, 60, 145);
}

.dark {
    background-color: #080808;
    color: #667eea;
    flex: right;
    position: absolute;
    top:10px;
    right: 10px;
}

.dark:hover{
    background-color: #272626;

}

/* To-do listan */
#todoList {
    width: 320px;
    margin-top: 25px;
    list-style: none;
}

/* Varje uppgift */
#todoList li {
    background: white;
    padding: 15px 18px;
    margin-bottom: 10px;
    border-radius: 10px;

    font-size: 17px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    transition: 0.2s ease;
}

#todoList li:hover {
    transform: translateX(5px);
}

/* Mobilanpassning */
@media (max-width: 500px) {
    body {
        padding-top: 40px;
    }

    body::before {
        font-size: 28px;
    }

    #inputText,
    #todoList {
        width: 100%;
        max-width: 320px;
    }

    button {
        padding: 12px 16px;
    }
}
